@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'GowunDodum', Arial, Helvetica, sans-serif;
  line-height: 2;
}

body::-webkit-scrollbar {
  display: none; /* 웹킷 기반 브라우저에서 스크롤바 숨기기 */
}

@font-face {
  font-family: 'GowunDodum';
  src: url('/fonts/GowunDodum-Regular.ttf') format('truetype');
}
